/* Mobile phone styles adjustments */

@media only screen and (max-width: 768px) {
  header {
    padding: 16px 0;
    flex-direction: column;
  }

  header h1 {
    margin-bottom: 8px;
  }

  header .nav-container {
    flex-direction: column;
    flex: 1;
    justify-content: center;
  }

  header .nav-container nav {
    flex: 1;
    justify-content: center;
  }

  header .nav-container nav a {
    margin-left: 8px;
  }

  main {
    padding: 32px;
  }

  p {
    font-size: 18px;
  }
}
