@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Licorice&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;800&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: "Khula", "Helvetica Neue", sans-serif;
  --form-background: #d1c0a833;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 32px 64px;
}

header h1 {
  margin: 0;
  font-family: "Licorice", cursive;
  /* font-family: "Clicker Script", cursive; */
}

header nav {
  justify-content: right;
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-end;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 32px;
  color: #000000;
  font-weight: bold;
  font-family: "Khula";
  font-weight: 600;
}

header nav a .fa-brands {
  font-size: 24px;
}

h2 {
  font-family: "Khula";
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 0;
  width: 100%;
  max-width: 700px;
}

p {
  font-family: "Khula";
  font-weight: 300;
  font-size: 22px;
  width: 100%;
  max-width: 700px;
}

.center-text {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 64px;
  align-items: center;
  flex: 1;
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d1c0a844;
  padding: 64px;
}

.footer-icon {
  margin: 8px;
  font-size: 32px;
  text-decoration: none;
  color: #d1c0a8;
}

img {
  width: 100%;
}

.image-wrapper {
  position: relative;
  width: 100%;
}
.image-text {
  position: absolute;
  top: 100px;
  right: 80px;
  color: #ffffff;
  font-family: "Licorice", cursive;
  font-size: 4rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-bottom: 32px;
}

form label {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Khula", sans-serif;
  font-size: 16px;
}

form input {
  padding: 8px;
  background-color: var(--form-background);
  border: none;
  border-radius: 4px;
  font-family: "Khula", sans-serif;
  font-size: 16px;
}

form textarea {
  padding: 8px;
  background-color: var(--form-background);
  border: none;
  border-radius: 4px;
  font-family: "Khula", sans-serif;
  font-size: 16px;
  min-height: 200px;
  resize: vertical;
}

form button[type="submit"] {
  margin-top: 16px;
  padding: 8px;
  background-color: var(--form-background);
  border: none;
  border-radius: 4px;
  font-family: "Khula", sans-serif;
  font-size: 16px;
}

.not-on-desktop {
  display: none;
}
